.list-group, #startPage {
    padding-top: 20%;
}

#startPage, #startButton {
    text-align: center;
}

#startButton {
    padding-top: 50px;
}

#endingHeader {
    text-align: center;
    padding-top: 20%;
}

.form-row {
    justify-content: center;
}

body {
    background-image: url("buccaneers.jpg");
    background-size: cover;
    color: 	black;
}


